<IfModule mod_rewrite.c>
    RewriteEngine On
    # RewriteBase /public

    # Uncomment the below 2 lines if you like to add an auto redirect from http:// to https://
    # RewriteCond %{HTTPS} off
    # RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

    RewriteCond %{REQUEST_URI} !^/install\.php
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
